/* Container for the about section */
#about {
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #1a1a2e;
    min-height: 100vh;
}

/* Padding for the about section */
.about {
    padding: 5rem 0;
}

/* Container for the about section content */
.aboutsection {
    margin: 2rem 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row;
}

/* Styles for the profile image */
.aboutsection img {
    width: 25vw;
    max-width: 450px;
    height: 65vh;
    object-fit: cover;
    transition: transform 0.5s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.aboutsection img:hover {
    transform: scale(1.02) translateY(-10px);
}

/* Container for the profile image */
.profileimg {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

/* Updated border-radius for images */
.aboutsection img, .img-style, #imgbg {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    transition: border-radius 0.5s ease;
}

.aboutsection img:hover {
    border-radius: 70% 30% 30% 70% / 70% 70% 30% 30%;
}

/* Background for the profile image */
.profileimg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-position: center;
    background-size: cover;
    filter: blur(1.1px);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border: 5px solid rgba(255, 255, 255, 0.8);
    z-index: -1;
    transition: all 0.5s ease;
}

/* Hover effect for the profile image background */
.profileimg:hover::after {
    box-shadow: 0 0 30px rgba(4, 0, 253, 0.3);
    transform: scale(1.05);
}

/* Container for the about me text */
.aboutme {
    padding: 2rem;
    text-align: left;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

/* Styles for the first heading in about me */
.aboutme h2:first-child {
    font-size: 2.2rem;
    font-weight: 300;
    color: #666;
    margin-bottom: 1rem;
}

/* Styles for the main heading in about me */
.aboutme h1 {
    color: #333;
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 1.5rem 0;
}

/* Styles for the secondary heading in about me */
.aboutme h2 {
    font-size: 1.8rem;
    color: #444;
    font-weight: 600;
    margin: 0 0 1.5rem 0;
}

/* Styles for the about content paragraph */
.aboutcontent p {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8;
    color: #555;
    margin: 0 0 1rem 0;
}

/* Container for the get in touch section */
.get-in-touch {
    text-align: center;
    margin: 4rem 10rem;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

/* Styles for the heading in get in touch */
.get-in-touch h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

/* Styles for the paragraph in get in touch */
.get-in-touch p {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.8;
    color: #555;
    margin-bottom: 2rem;
}

/* Container for the additional about section */
.aboutmore {
    margin: 4rem 10rem;
    text-align: left;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

/* Styles for the heading in additional about section */
.aboutmore h2 {
    font-size: 2.2rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
}

/* Styles for the paragraph in additional about section */
.aboutmore p {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8;
    color: #555;
    margin-bottom: 1.5rem;
}

/* Container for the connect with me section */
#connectwithme {
    margin-top: 2rem;
}

/* Styles for the links in connect with me */
#connectwithme .links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    flex-wrap: wrap;
}

/* Styles for the list items in connect with me */
#connectwithme .links li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Styles for the LinkedIn button */
#connectwithme .links .linedinbutton {
    width: 200px;
    height: 45px;
    text-align: center;
}

/* Styles for the paragraph in LinkedIn button */
#connectwithme .links .linedinbutton p {
    font: 1.2rem sans-serif;
}

/* Styles for the SVG in LinkedIn button */
#connectwithme .links .linedinbutton svg {
    width: 3vh;
    height: 3vh;
}

/* Styles for the images in connect with me */
#connectwithme .links li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* Styles for the links in connect with me */
#connectwithme .links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Hover effect for the list items in connect with me */
#connectwithme .links li:hover {
    transform: scale(1.05);
}

/* Animation for the list items in connect with me */
#connectwithme .links li {
    animation: leftswipe 1.5s ease-in;
}

/* Keyframes for the left swipe animation */
@keyframes leftswipe {
    0% {
        transform: translateX(-30%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Styles for the button paragraph */
button p {
    position: absolute;
    top: 0.4em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    color: #0077b5;
}

/* Styles for the button SVG */
button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #0077b5;
}

/* Hover effect for the button paragraph */
button:hover p {
    left: 0.6em;
    color: #fff;
}

/* Hover effect for the button SVG */
button:hover svg {
    opacity: 1;
}

/* Styles for the button icon */
.button-icon {
    display: flex;
    border: 3px #fff solid;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

/* Styles for the icon */
.icon {
    background-color: #fff;
    padding: 10px 10px 5px 10px;
}

/* Styles for the icon SVG */
.icon svg {
    width: 25px;
    height: 25px;
}

/* Styles for the cube */
.cube {
    transition: all 0.9s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;
}

/* Hover effect for the button icon */
.button-icon:hover {
    border-color: #ff98a2;
}

/* Hover effect for the cube */
.button-icon:hover .cube {
    transform: rotateX(90deg);
}

/* Styles for the side of the cube */
.side {
    position: absolute;
    height: 40px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
}

/* Styles for the top of the cube */
.top {
    height: 45px;
    background: #ff98a2;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 10px, 2em);
}

/* Styles for the front of the cube */
.front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
}

/* Styles for the button */
button {
    background-color: #fff;
    border: 1px solid #0077b5;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
}

/* Hover effect for the LinkedIn button and button icon */
.linedinbutton:hover, .button-icon:hover {
    background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
    box-shadow: 0 0 15px #bcbebe;
}

/* Container for the know me more section */
.knoememore {
    display: flex;
    justify-content: center;
}

/* Wave menu styles */
.wave-menu {
    border: 4px solid #545FE5;
    border-radius: 50px;
    width: 200px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: ease 0.2s;
    position: relative;
    background: #fff;
}

/* Styles for the wave menu list items */
.wave-menu li {
    list-style: none;
    height: 30px;
    width: 4px;
    border-radius: 10px;
    background: #545FE5;
    margin: 0 6px;
    padding: 0;
    animation-name: wave1;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    transition: ease 0.2s;
}

/* Hover effect for the wave menu list items */
.wave-menu:hover > li {
    background: #fff;
}

/* Hover effect for the wave menu */
.wave-menu:hover {
    background: #545FE5;
}

/* Wave menu animations */
.wave-menu li:nth-child(2) {
    animation-name: wave2;
    animation-delay: 0.2s;
}

.wave-menu li:nth-child(3) {
    animation-name: wave3;
    animation-delay: 0.23s;
    animation-duration: 0.4s;
}

.wave-menu li:nth-child(4) {
    animation-name: wave4;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
}

.wave-menu li:nth-child(5) {
    animation-delay: 0.5s;
}

.wave-menu li:nth-child(6) {
    animation-name: wave2;
    animation-duration: 0.5s;
}

.wave-menu li:nth-child(8) {
    animation-name: wave4;
    animation-delay: 0.4s;
    animation-duration: 0.25s;
}

.wave-menu li:nth-child(9) {
    animation-name: wave3;
    animation-delay: 0.15s;
}

/* Wave animation keyframes */
@keyframes wave1 {
    from { transform: scaleY(1); }
    to { transform: scaleY(0.5); }
}

@keyframes wave2 {
    from { transform: scaleY(0.3); }
    to { transform: scaleY(0.6); }
}

@keyframes wave3 {
    from { transform: scaleY(1.5); }
    to { transform: scaleY(0.8); }
}

@keyframes wave4 {
    from { transform: scaleY(0.2); }
    to { transform: scaleY(1); }
}

/* Responsive styles */
@media (min-width: 768px) and (max-width: 1200px) {
    .aboutsection {
        margin: 5rem;
        justify-content: center;
    }
    .aboutsection img {
        width: 35vw;
    }
}

@media (max-width: 768px) {
    .aboutsection {
        margin: 0 2rem;
        flex-direction: column;
        text-align: center;
    }
    .aboutsection img {
        width: 20rem;
        height: 50vh;
        max-width: 500px;
        margin-bottom: 1rem;
    }
    .profileimg {
        text-align: center;
        position: relative;
    }
    .profileimg::after {
        content: ""; 
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 19rem;
    }
    .aboutsection .aboutme {
        margin: 1rem 0;
    }
    .aboutme h1 {
        font-size: 2.5rem;
    }
    .aboutmore {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .aboutsection {
        margin: 0 1rem;
    }
    .aboutme h1 {
        font-size: 2rem;
    }
    #connectwithme .links li {
        padding: 0.5rem 0rem;
    }
    .img-style {
        border-radius: 30% 15% 10% 35% / 35% 25% 25% 15%;
    }
    .aboutsection .aboutme {
        margin: 0.5rem 0;
    }
}

@media (max-width: 505px) {
    .aboutme h1 {
        font-size: 1.5rem;
    }
    ul {
        list-style: none;
    }
    .example-2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .example-2 .icon-content {
        margin: 0 10px;
        position: relative;
    }
    .example-2 .icon-content .tooltip {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: 14px;
        transition: all 0.3s ease;
    }
    .example-2 .icon-content:hover .tooltip {
        opacity: 1;
        visibility: visible;
        top: -50px;
    }
    .example-2 .icon-content a {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #4d4d4d;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
    }
    .example-2 .icon-content a:hover {
        box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
    }
    .example-2 .icon-content a svg {
        position: relative;
        z-index: 1;
        width: 30px;
        height: 30px;
    }
    .example-2 .icon-content a:hover {
        color: white;
    }
    .example-2 .icon-content a .filled {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: #000;
        transition: all 0.3s ease-in-out;
    }
    .example-2 .icon-content a:hover .filled {
        height: 100%;
    }
    .example-2 .icon-content a[data-social="linkedin"] .filled,
    .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
        background-color: #0274b3;
    }
    .example-2 .icon-content a[data-social="github"] .filled,
    .example-2 .icon-content a[data-social="github"] ~ .tooltip {
        background-color: #24262a;
    }
    .example-2 .icon-content a[data-social="instagram"] .filled,
    .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
        background: linear-gradient(45deg, #405de6, #5b51db, #b33ab4, #c135b4, #e1306c, #fd1f1f);
    }
    .example-2 .icon-content a[data-social="youtube"] .filled,
    .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
        background-color: #ff0000;
    }
}
