/* Index .html files styles */
body.dark-mode {
    background: linear-gradient(to bottom,  #2f4f7f,#7a288a,#2f4f7f,#7a288a);
    /* background: linear-gradient(155deg, #03055b, #4169e1); */
    /* background: linear-gradient(to bottom, #4169e1, #00274d); */
    color: #f5f5f5;
}
body.dark-mode .navbar-toggler {
    background-color: #f7a500; /* Sunset Gold for Dark Mode */
    color: #000; /* Dark Icon Color */
}
body.dark-mode #navbar-item{
    color:rgb(0, 206, 172);
    border-bottom: 3px solid transparent; /* Set initial border to transparent */
    transition: border 1s ease-in-out, color 0.5s ease-in-out;
  
}
body.dark-mode #navbar-item:hover{
    color:rgb(0, 206, 172);
    border-bottom: 1px solid rgb(17, 255, 0);
}

/* About .html or about.css styles  */
body.dark-mode .aboutme h2 {
    color: #b0b0b0; /* Light Gray */
}

body.dark-mode .aboutme h1 {
    color: #e0e0e0; /* Off-White */
}
body.dark-mode #dynamic-text{
    color:#87ceeb;
}

body.dark-mode .aboutcontent > p {
    color: #dad8d8bc; 
}
body.dark-mode #navbar-item{
    color:#77cdef;
}
body.dark-mode nav{
    background: linear-gradient(to bottom,  #2f4f7f,#7a288a);

}
body.dark-mode #about{
    /* background: linear-gradient(to bottom,  #2f4f7f,#7a288a); */
    /* background: linear-gradient(155deg, #03055b, #4169e1); */
}

body.dark-mode .aboutsection img {
    /* border: 20px solid #f5f5f5; */
}
body.dark-mode .navbar-brand {
    color: #ffb116; /* Sunset Gold */
}
body.dark-mode .aboutmore h2 {
    color: #d1c4ff; 
}

body.dark-mode .aboutmore p {
    color: #b0a1cc; 
}body.dark-mode .aboutmore p:last-child {
    color: #d0c2e9; 
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

/* For skills.html  */
body.dark-mode .skills-section {
}
body.dark-mode .skill-category h3{
    color:wheat;
}
body.dark-mode .skill-category {
    background: none;
    box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.1) inset;
}
.dark-mode #frontend {
    border-color: #20B2AA; /* Lighter Teal */
}

.dark-mode #backend {
    border-color: #9370DB; /* Medium Purple */
}

.dark-mode #db {
    border-color: #3CB371; /* Medium Sea Green */
}

.dark-mode #tools {
    border-color: #FFA07A; /* Light Salmon */
}
/* projects section */
.dark-mode #minor-projects .card{
    background: #2f4f7f;
    box-shadow: 1px 1px 3px 1px #ffcc80 inset, 0 0 1px 1px gray;
}
.dark-mode #projects  ul li a{
    color: wheat;
}
.dark-mode .nav-tabs .nav-item.show .nav-link, .dark-mode .nav-tabs .nav-link.active{
    background: rgb(18, 42, 129);
}
/* .dark-mode .modal h5{
    background: #2f4f7f;
}
.dark-mode .modal-content{
    background: #242424;
    color:#e0e0e0;
}
.dark-mode .modal-content .modal-header{
    background: #2f4f7f;
} */
.dark-mode .modal-content {
    background:linear-gradient( 135deg, #2f4f7f,#2f4f7f, #6b207a);
    color: #e0e0e0;
    border-color: #3a3a3a;
}

.dark-mode .modal-header, .modal-footer {
    border-bottom: 1px solid #444;
    border-top: 1px solid #444;
}

.dark-mode .modal-title {
    color: #ffffff;
}

.dark-mode .btn-primary {
    background-color: #4caf50;
    border-color: #4caf50;
    color: #ffffff;
}

.dark-mode .btn-primary:hover {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.dark-mode .btn-secondary {
    background-color: #9b2222;
    border-color: #9a2121;
    color: #ffffff;
}

.dark-mode .btn-secondary:hover {
    background-color: #c81414;
    border-color: #cc1818;
    transition: background-color 1s ease-in-out;
}
.dark-mode .modal-body a{
    color: #f7a500;
}
.dark-mode .modal-content .modal-header h5{
    color: #f7a500;
}
/* for experience section */
.dark-mode #experience-education  {
    color: #dad8d8bc; 
    background: linear-gradient(45deg, #2f4f7f, #7a288a, #2f4f7f, #7a288a);
}
.dark-mode #experience-education h2 {
    color: wheat; 
}
.dark-mode #experience-education .nav li a{
    color: lightcyan; 
}
.dark-mode #experience-education .timeline .timeline-panel {
    background-color: rgba(76, 97, 128, 0.442); /* Main background color */
    border-left: 3px solid rgba(122, 40, 138, 0.7); /* Optional highlight border */
    color: #e0e0e0; /* Light text color for contrast */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.dark-mode #experience-education .timeline .timeline-panel h4 {
    color: #f3a916; 
}
.dark-mode #experience-education .timeline .timeline-panel p{
    color:rgba(245, 245, 245, 0.819);
}

.dark-mode #experience-education .timeline .timeline-panel  #mutedtext{
    color:rgb(190, 182, 182)
}
/* for cerfication and achievements */
.dark-mode #achievements {
    background: linear-gradient(to bottom,  #2f4f7f,#7a288a);
    /* background: linear-gradient(155deg, #03055b, #4169e1); */
    /* background: linear-gradient(to bottom, #4169e1, #00274d); */
    color: #f5f5f5;
}
.dark-mode #achievements h2 {
    color: #b0b0b0; /* Light Gray */
}
.dark-mode #achievements h1 {
    color: #e0e0e0; /* Off-White */
}
.dark-mode .card-certify{
    border:none;
    background: linear-gradient(170deg, rgba(253, 200, 27, 0.22) 0%, #ff522f3d 10%);
}
.dark-mode .container-certify{
    /* background: linear-gradient(to bottom,  #2f4f7f,#7a288a); */
    color: #f5f5f5;
}
.dark-mode .card-cert h4 {
    color: #ebe6e6; 
}
.dark-mode .card-cert p {
    color: rgb(144, 240, 247); 
}