/* Experience & Education Section */
#experience-education {
    /* background-color: #f9f9f9; */
    background:  linear-gradient(45deg, #fff9c4, #ffe0b2, #fff9c4, #ffe0b2);
    /* background: none; */
}

#experience-education h2 {
    font-weight: 700;
    color: #333;
}

#experience-education .nav li a{
    display: flex;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#experience-education .nav li a:hover{
    background-color: #dedee54c;
}
/* Timeline Styles */
.timeline {
    position: relative;
    padding: 20px 0;
    list-style: none;
    /* height: 100%; */
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    background: linear-gradient(to bottom, #5bdb34, #f1690f, #4ef009, #f4770a);
    transform: translateX(-50%);
    animation:dropdown 3s ease-in-out;
}
@keyframes dropdown {
    0% {
        transform: translateY(-5%);
        /* width:10px; */
        opacity: 0;
        background-size: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
        background-size: 100%;
    }
    
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:after {
    content: '';
    display: table;
    clear: both;
}

.timeline .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -25px;
    background-color: #007bff;
    border-radius: 50%;
    z-index: 100;
}
.timeline .timeline-panel {
    position: relative;
    width: 46%;
    padding: 20px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    animation:sweep 2s ease;
}

@keyframes sweep {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
    
}
.timeline > li:nth-child(odd) .timeline-panel {
    left: 0;
}

.timeline > li:nth-child(even) .timeline-panel {
    left: 54%;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: #007bff;
}

.timeline .timeline-heading p {
    margin: 0;
    color: #999;
}

.timeline .timeline-body p {
    margin: 10px 0 0;
}


/* Responsive Styles */
@media (max-width: 767px) {
    .timeline:before {
        margin-left:-10%;
        left: 20px;
        width: 2px;
    }

    .timeline .timeline-badge {
        left: 0;
        margin-left: -20px;        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1.2rem;
    }

    .timeline > li .timeline-panel {
        width: calc(100% - 40px);
        left: 40px !important;
    }
}


@media (max-width: 576px) {
    #experience-education .nav li a{
        font-size: 0.8rem;
    }
    #experience-education {
        margin:0;
        padding:0;
    }
    #experience-education h2 {
        font-size: 1.5rem;
    }
    #experience-education .nav li a{
        font-size: 1rem;
    }
    .timeline {
        padding: 0;
    }
    .timeline:before {
        /* margin-left:60%; */
        left: 40px;
    }
    
}