.pirata-one-regular {
    font-family: "Pirata One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.passionandint h2{
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Pirata One', cursive;
    font-weight: bold;
    font-size: 1.5rem;
}
  .passions-interests-section {
  background-color: #f4f4f9;
  padding: 50px 20px;
}

.section-title {
  text-align: center;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.content {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  max-width: 800px;
  margin: 0 auto;
}

.content p {
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .passions-interests-section {
    padding: 30px 15px;
  }

  .section-title {
    font-size: 2em;
  }

  .content {
    font-size: 1em;
  }
}
