#passionandint {
  margin-top:2rem;
  padding:40px 20px;
  border-radius: 10px;
}

h2.text-center {
  font-family: 'Pirata One', cursive;
  font-size: 3rem;
  color: #333;
  /* margin-bottom: 30px; */
}

.interest-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  min-height: 40vh;
  height: max-content;
}

.interest-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  cursor:pointer;
}

.interest-card h4 {
  font-family: 'Pirata One', cursive;
  font-size: 2rem;
  color: #444;
}

.interest-card h4 i {
  margin-right: 10px;
  color: #ff5722;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.interest-card h4 i:hover {
  color: #2f4f7f;
}

.interest-card p {
  font-size: 1.1rem;
  color: #666;
  margin-top: 10px;
}
@media (min-width:992px) and (max-width:1500px) {
  .interest-card {
    flex-basis: 100%;
    max-width: 100%;
    height: max-content;
    min-height: 40vh;
  }
  
}
@media (max-width: 768px) {
  h2.text-center {
      font-size: 2.5rem;
  }
 .interest-card {
    flex-basis: 100%;
    max-width: 100%;
    height: 55vh;
  }
  .interest-card h4 {
      font-size: 1.5rem;
  }

  .interest-card p {
      font-size: 1rem;
  }

  .col-md-6 {
      flex-basis: 100%;
      max-width: 100%;
  }
}


