/* From Uiverse.io by boryanakrasteva */ 
.projects{
    padding: 2rem;

}
#projects>.card {
    padding:1rem;
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
    /* background: linear-gradient(145deg, #ffffff, #f0f0f0); */
    background: none;
    overflow: hidden;
    display: flex;
  }
  
  .circles,
  .browser {
    height: 30px;
    display: flex;
    align-items: center;
  }
  
  .circles {
    width: 20%;
    gap: 8px;
    padding: 10px;
  }
  
  .c {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 5px rgba(235, 235, 235, 0.356);
  }
  
  .c:first-child {
    background-color: red;
  }
  
  .c:nth-child(2) {
    background-color: rgb(204, 167, 4);
  }
  
  .c:last-child {
    background-color: green;
  }
  
  .browser {
    width: 100%;
    /* padding: 5px; */
    display: flex;
    gap: 10px;
  }
  
  .chevrons {
    display: flex;
  }
  
  .search-bar {
    margin-top:10px;
    position: relative;
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 1.2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: rgb(88, 88, 88);
    box-shadow: inset 2px 2px 2px #05050525;
  }
  
  .search-bar svg {
    position: absolute;
    left: 10px;
  }
.search-bar h2{
    margin:1vh;
}

.col-md-4{
  padding:1rem 0.5rem;
}
.col-md-4 .card{
  /* margin:2rem 0; */
  background: #fff3e0;
  /* border:2px solid #ffcc80; */
  box-shadow: 1px 1px 3px 1px #ffcc80 inset, 0 0 1px 1px gray;
  height: 100%;
}
.col-md-4 .card img{
  width:50vw;
  height:30vh;
  object-fit: cover;
}
.card:hover{
  box-shadow: 0 0 2px 2px gray;
  background-color:#fae6c5;
  transition:  background-color 3s linear,scale 2s linear;
}
.card-body .btn{
  height:auto;
  width:200px;
}
.card-body .btn:hover{
  background-color: blue;
  border:2px solid black;
  transition: background-color 2s ease-in-out,border 2s linear;
}
.major-card{
  width:100%;
  background: red;
}