body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
    background: linear-gradient(to bottom, #fff9c4, #ffe0b2,#fff9c4,#ffe0b2); 
    transition: background-color 3s ease;
}
.navbar-nav li a {
    font-size: 1.2rem;
    font-weight: bold;
}
.sections{
  padding-top:30px;
  font-family: Arial, Helvetica, sans-serif;
}
.main #about{
  animation: fade-in 2s ease-in-out;
}
nav{
  padding-bottom: 0;
  position: fixed;
  background:  linear-gradient(to bottom, #fff9c4,#ffe0b2);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.nav-item{
  padding: 0rem 1.5rem;
}
#navbar-item{
  color:rgb(0, 0, 206);
  border-bottom: 3px solid transparent; /* Set initial border to transparent */
  transition: border 1s ease-in-out, color 0.5s ease-in-out;
  animation: down 1s ease-in-out;
}
@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}
.light-mode h1, .light-mode h2 {
    color: #1a1a2e;
}
.light-mode .icon {
    background-color: #fff;
}
.light-mode .cube {
    background: #222229;
}
.dark-mode h1, .dark-mode h2 {
    color: #f5f5f5;
}
#navbar-item:hover{
  color:rgb(10, 52, 246);
  border-bottom: 1px solid blue;
}


button#theme-toggle {
  margin: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #0077b5;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.switch {
  font-size: 17px;
  position: sticky; /* Changed from absolute to fixed */
  display: inline-block;
  width: 3.5em;
  height: 2em;
  right: 1rem;
  top: 1rem; /* Adjusted top positioning */
  z-index: 1050; 
  transform-style: preserve-3d;
  perspective: 500px;
}

  
.switch::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  filter: blur(20px);
  z-index: -1;
  border-radius: 50px;
  background-color: #d8ff99;
  background-image: radial-gradient(at 21% 46%, hsla(183,65%,60%,1) 0px, transparent 50%),
radial-gradient(at 23% 25%, hsla(359,74%,70%,1) 0px, transparent 50%),
radial-gradient(at 20% 1%, hsla(267,83%,75%,1) 0px, transparent 50%),
radial-gradient(at 86% 87%, hsla(204,69%,68%,1) 0px, transparent 50%),
radial-gradient(at 99% 41%, hsla(171,72%,77%,1) 0px, transparent 50%),
radial-gradient(at 55% 24%, hsla(138,60%,62%,1) 0px, transparent 50%);
  }
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fdfefedc;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.3em;
  bottom: 0.35em;
  transition: .4s;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
      rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
  radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
  radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
}

.input__check:checked + .slider {
  background-color: #17202A;
}

.input__check:checked + .slider:before {
  transform: translateX(1.5em);
}

@keyframes toggle__animation {
  0%, 100% {
    transform: translateY(-10px) rotateX(15deg) rotateY(-20deg);
  }

  50% {
    transform: translateY(0px) rotateX(15deg) rotateY(-20deg);
  }
}

.footer-content {
  padding: 30px ;
  background-color: #333;
  color: #fff;
  text-align: left;
}

.footer-left h2 {
  font-size: 2rem;
  color: #f8c471;
}

.footer-left p, .footer-center p {
  font-size: 1.2rem;
  color: #f2f2f2;
}

.interactive-quote {
  padding: 10px;
  background-color: #444;
  color: #ccc;
  border-left: 5px solid #f8c471;
  transition: transform 0.3s, background-color 0.3s;
}

.interactive-quote:hover {
  transform: scale(1.05);
  background-color: #f8c471;
  color: #333;
}

.interactive-link {
  color: #f8c471;
  transition: color 0.3s;
}

.interactive-link:hover {
  color: #ffdd99;
}

.footer-right {
  margin-top: 30px;
}

.footer-right p {
  font-size: 1.1rem;
  color: #f2f2f2;
}

.social-link {
  color: #f8c471;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color 0.3s, transform 0.3s;
}

.social-link:hover {
  color: #ffdd99;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .switch {
      position: absolute;
  }
  .navbar-brand{
    margin:1rem 0;
    padding:1rem;
    text-align: center;
  }
  .nav-item{
    padding:0.5rem;
  }
  button.navbar-toggler{
    width:fit-content;
    background-color: #ffac40a5; /* Soft orange */
    border-color: #ff6f43d5;
  }
  

  #collapsibleNavbar{
      text-align: center;
  }
  .footer-left, .footer-center, .footer-right {
      text-align: center;
  }
}

@media (max-width:575px) {
  .footer-content .footer-left, .footer-content .footer-center, .footer-content .footer-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-content .footer-left h2{
    font-size: 1.5em;
    
  }
  
}