.container-fluid {
    border: 2px solid black;
}

nav.navbar {
    padding: 0.5rem;
}

.navbar-nav .nav-item a {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
    color: #ff9900;
}

.main {
    padding: 1rem;
}

.aboutsection {
    margin: 0 10rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.aboutsection img {
    width: 20vw;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

.aboutsection .aboutme {
    margin: 1rem;
    flex-grow: 1;
    text-align: center;
}

span.aboutcontent {
    font-size: 1.25rem;
    margin: 1rem;
    text-align: right;
}

#about .aboutmore {
    margin: 2rem;
    text-align: right;
    font-size: 1.25rem;
}

#connectwithme {
    margin-top: 2rem;
}

#connectwithme .links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
    flex-wrap: wrap;
}

#connectwithme .links li {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#connectwithme .links li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

#connectwithme .links li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#connectwithme .links li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#connectwithme .links li:hover a {
    color: #ff9900;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .aboutsection {
        margin: 0 5rem;
    }
}

@media (max-width: 992px) {
    .aboutsection {
        margin: 0 3rem;
    }

    .aboutsection img {
        width: 25vw;
        max-width: 150px;
    }

    .aboutsection .aboutme {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .aboutsection {
        margin: 0 2rem;
        flex-direction: column;
        text-align: center;
    }

    .aboutsection img {
        width: 40vw;
        max-width: 150px;
        margin-bottom: 1rem;
    }

    .aboutsection .aboutme {
        margin: 1rem 0;
    }

    span.aboutcontent {
        text-align: center;
    }

    #about .aboutmore {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .aboutsection {
        margin: 0 1rem;
    }

    .aboutsection img {
        width: 50vw;
        max-width: 120px;
    }

    .aboutsection .aboutme {
        margin: 0.5rem 0;
    }
}
