/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    border: 2px solid black;
}

nav.navbar {
    padding: 0.5rem;
}

.navbar-nav .nav-item a {
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-item a:hover {
    color: #ff9900;
}

.main {
    /* padding: 1rem; */
    background-color: #f8f9fa;
}

